<div id="home">

  <div>
    <h1>Hello, KIDDO!</h1>
  </div>
  <img src="../../../images/donutcat.gif" height="100">
  <h3>Date: <span id="clock-date">{{date}}</span></h3>
  <h3>Time: <span id="clock-time">{{time}}</span></h3>
</div>
