<div id="home">
  <div>
    <h1>Hello, Kiddo!</h1>
  </div>
  <div id="home-bottom">

    <div id="clock">
      <h3><span id="clock-date">{{date}}</span></h3>
      <h3><span id="clock-time">{{time}}</span></h3>
    </div>
    <img src="../../../images/donutcat.gif" height="100">
  </div>
</div>