{{!-- <style>
    .stars {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
</style> --}}
<div id="final"> 
    <div>
        <h1>CONGRATS,KIDDO!</h1>
    </div>    
    <img id="img" src="../../../images/cutecat1.gif" height="120">
    <div class="stars">
        <img class="star" src="../../../images/cutestar.gif" >
        <img class="star" src="../../../images/cutestar.gif" >
        <img class="star" src="../../../images/cutestar.gif" >
        <img class="star" src="../../../images/cutestar.gif" >
        <img class="star" src="../../../images/cutestar.gif" >
    </div> 
</div>

