<div id="result">
  <h3 id="text">Well Done!</h3>
  <img id="img" src="../../../images/happy-face.png" height="100">
  {{!-- <audio src="../../../sounds/success-sound.mp3" autoplay="true">Music</audio> --}}
</div>
