<style>
    
    .leftChoice{
        width:49%;
        background-color:cadetblue;
        height:240px;
        display: inline-block;
    }
    .rightChoice{
        width:49%;
        background-color:cadetblue;
        height:240px;
        float: right;
        display: inline-block;
    }

    .rightChoice h1, .leftChoice h1{
        margin: auto;
    }

    .row{
        background-color: black;
    }
</style>

<div class="row">
    <div class="leftChoice">
        <h1>{{left}}</h1>
    </div>
    <div class="rightChoice">
        <h1>{{right}}</h1>
    </div>
</div>